<!-- data = data || {}; -->
<html>
<head>
<title>Banner</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/banner.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="wrapper_container">
<div id='fullview' data-state="0" ontouchstart='touchstart(event,this)' ontouchend='touchend(event,this)'>

<div  class="card" id="card_4" data-index="4" style="position:absolute !important;"   data-location="left">
</div>

<div  class="card" id="card_5" data-index="5" style="position:absolute !important;"  data-location="left">
<div id="present"> State 5 </div>
</div>

<div  class="card" id="card_6" data-index="6"  style="position:absolute !important;"  data-location="left">
<div id="present"> State 6 </div>
</div>
<div  class="card" id="card_0" data-index="0" style="position:absolute !important;"   data-location="current">

<a href="http://www.flipkart.com/mobile-apps?otracker=hp_imgModule_MobileApp" class="fk-display-block line" data-tracking-id="MobileApp">
<img src="http://img5a.flixcart.com/www/promos/new/20141007-222541-rhs-6.png" alt="Mobile" app="" data-inventory="inven_phillipstv"> <div style="position:absolute; right:10px; bottom:10px; padding:5px 5px; bacground-color:red; opacity:0.8;"> See </div> </img>
</a>
<a href="http://www.flipkart.com/offers-zone/lifestyle?cacheRefresh=true&amp;storeGroup=fashion&amp;otracker=hp_imgModule_OffersinFashion" class="fk-display-block line" data-tracking-id="OffersinFashion">
<img src="http://img5a.flixcart.com/www/promos/new/20140821-111646-rhs-mobile.gif" alt="Offers" in="" fashion="" data-inventory="inven_fashionoffer">
</a>
<a href="http://www.flipkart.com/mi?otracker=hp_imgModule_MI" class="fk-display-block line" data-tracking-id="MI">
<img src="http://img6a.flixcart.com/www/promos/new/20140930-134101-rhs-next-sale.png" alt="MI" data-inventory="inven_ziomi">
</a>
<a href="http://www.flipkart.com/suunto?otracker=hp_imgModule_Suunto" class="fk-display-block line" data-tracking-id="Suunto">
<img src="http://img6a.flixcart.com/www/promos/new/20141010-192005-pre-order.png" alt="Suunto" data-inventory="inven_watch">
</a>
<a href="http://www.flipkart.com/cameras/sports-action~type/pr?p[]=facets.brand[]=Garmin&amp;p[]=sort=featured&amp;sid=jek,p31&amp;otracker=hp_imgModule_Cameras" class="fk-display-block line" data-tracking-id="Cameras">
<img src="http://img6a.flixcart.com/www/promos/new/20141009-130612-garmin.png" alt="Cameras" data-inventory="inven_camera">
</a>
<a href="http://www.flipkart.com/motorola?otracker=hp_imgModule_Motorola" class="fk-display-block line" data-tracking-id="Motorola">
<img src="http://img5a.flixcart.com/www/promos/new/20140912-192134-rhsmoto.png" alt="Motorola" data-inventory="inven_motorola">
</a>
<a href="http://www.flipkart.com/mobile-apps?otracker=hp_imgModule_MobileApp" class="fk-display-block line" data-tracking-id="MobileApp">
<img src="http://img5a.flixcart.com/www/promos/new/20141007-222541-rhs-6.png" alt="Mobile" app="" data-inventory="inven_mobile2">
</a>
<a href="http://www.flipkart.com/offers-zone/lifestyle?cacheRefresh=true&amp;storeGroup=fashion&amp;otracker=hp_imgModule_OffersinFashion" class="fk-display-block line" data-tracking-id="OffersinFashion">
<img src="http://img5a.flixcart.com/www/promos/new/20140821-111646-rhs-mobile.gif" alt="Offers" in="" fashion="" data-inventory="inven_xiomi">
</a>
<a href="http://www.flipkart.com/mi?otracker=hp_imgModule_MI" class="fk-display-block line" data-tracking-id="MI">
<img src="http://img6a.flixcart.com/www/promos/new/20140930-134101-rhs-next-sale.png" alt="MI" data-inventory="inven_watch1">
</a>
<a href="http://www.flipkart.com/suunto?otracker=hp_imgModule_Suunto" class="fk-display-block line" data-tracking-id="Suunto">
<img src="http://img6a.flixcart.com/www/promos/new/20141010-192005-pre-order.png" alt="Suunto" data-inventory="inven_camera1">
</a>
<a href="http://www.flipkart.com/cameras/sports-action~type/pr?p[]=facets.brand[]=Garmin&amp;p[]=sort=featured&amp;sid=jek,p31&amp;otracker=hp_imgModule_Cameras" class="fk-display-block line" data-tracking-id="Cameras">
<img src="http://img6a.flixcart.com/www/promos/new/20141009-130612-garmin.png" alt="Cameras" data-inventory="inven_camera">
</a>
<a href="http://www.flipkart.com/motorola?otracker=hp_imgModule_Motorola" class="fk-display-block line" data-tracking-id="Motorola">
<img src="http://img5a.flixcart.com/www/promos/new/20140912-192134-rhsmoto.png" alt="Motorola" data-inventory="inven_motorola">
</a>
<a href="http://www.flipkart.com/toys/puzzles-board-games/poker-store?otracker=hp_imgModule_PokerStore" class="fk-display-block line" data-tracking-id="PokerStore">
<img src="http://img5a.flixcart.com/www/promos/new/20140930-115707-rhs-2.png" alt="Poker" store="" data-inventory="inven_poker">
</a>
</div>
<div  class="card" id="card_1" data-index="1" style="position:absolute !important;"   data-location="right">
<div class="shoe">
<img src="http://img5a.flixcart.com/image/shoe/j/j/f/1-642821-nike-10-200x200-imady6bhg7z9hp9f.jpeg" data-inventory="inven_1"></img>
<div> Adidas Duramo 100$</div>
</div>
<div class="shoe">
<img src="http://img6a.flixcart.com/image/shoe/f/r/s/7-622041-nike-8-200x200-imady4f5ugzz2zwu.jpeg" data-inventory="inven_2"></img>
<div> Adidas Duramo 100$</div>
</div>
<div class="shoe">
<img src="http://img5a.flixcart.com/image/shoe/g/h/j/11-599558-nike-6-200x200-imadybqvjhmzuhhj.jpeg" data-inventory="inven_3"></img>
<div> Adidas Duramo 100$</div>
</div>
<div class="shoe">
<img src="http://img5a.flixcart.com/image/shoe/e/f/v/solar-yellow-black-jetfuse-run-reebok-10-200x200-imadyvtsp29fcxf2.jpeg" data-inventory="inven_4"></img>
<div> Adidas Duramo 100$</div>
</div>
<div class="shoe">
<img src="http://img6a.flixcart.com/image/shoe/q/g/n/2-642833-nike-9-200x200-imadxszud9feefgh.jpeg" data-inventory="inven_5"></img>
<div> Adidas Duramo 100$</div>
</div>
<div class="shoe">
<img src="http://img5a.flixcart.com/image/shoe/b/p/h/runwht-black1-hirere-nova-cushion-m-adidas-9-200x200-imaduy3ber6gasan.jpeg" data-inventory="inven_6"></img>
<div> Adidas Duramo 100$</div>
</div>
<div class="shoe">
<img src="http://img6a.flixcart.com/image/shoe/f/r/s/7-622041-nike-8-200x200-imady4f5ugzz2zwu.jpeg" data-inventory="inven_7"></img>
<div> Adidas Duramo 100$</div>
</div>
</div>
<div  class="card" id="card_2" data-index="2" style="position:absolute !important;"  data-location="right">
<img class="shirt-img" src="http://img6a.flixcart.com/image/t-shirt/p/w/8/1665757black-jack-jones-m-400x400-imaeyn8bghpddcjz.jpeg " data-inventory="inven_8"></img>
<img class="shirt-img" src="http://img5a.flixcart.com/image/sweatshirt/s/n/n/rcss-bwtz-top-notch-s-400x400-imadyqy4rysbzxjz.jpeg" data-inventory="inven_9"></img>
<img class="shirt-img" src="http://img5a.flixcart.com/image/t-shirt/w/u/d/hg21013turquoise-hugo-boss-m-400x400-imadwuz7kfhmzqah.jpeg" data-inventory="inven_10"></img>
<img class="shirt-img" src="http://img6a.flixcart.com/image/t-shirt/t/y/c/gmtef0074-gant-m-400x400-imadzj8mtszdzepy.jpeg" data-inventory="inven_11"></img>
<img class="shirt-img" src="http://img5a.flixcart.com/image/t-shirt/g/w/q/ntk429641sw-nautica-m-400x400-imadyrgtnzuetya8.jpeg" data-inventory="inven_12"></img>
<div id="present"> State 2 </div>
</div>
<div  class="card" id="card_3" data-index="3" style="position:absolute !important;"  data-location="right">
<div id="present"> State 3 </div>
</div>

</div>
</div>
<script type="text/javascript">window.heatmap = "#{heatmap}" </script>
<script type="text/javascript"> if (heatmap === 'true') { window.heatmapData = JSON.parse('!{JSON.stringify(data)}') } </script>
<script type="text/javascript" src="/javascripts/libs/underscore.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/heatmap.min.js"></script>
<script type="text/javascript" src="/javascripts/banner.js"></script>
</body>
</html>