<!-- data = data || {}; -->
<html>
<head>
<title>Banner</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="/css/bootstrap.css" media="all" rel="stylesheet" type="text/css" />
<link href="/css/data.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wrapper"></div>
<script type="text/javascript" src="/javascripts/libs/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/underscore.js"></script>
<script type="text/javascript" src="/javascripts/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/heatmap.min.js"></script>
<script type="text/javascript"> window.users = JSON.parse('!{JSON.stringify(users)}') </script>

<script type="text/javascript" src="/javascripts/data.js"></script>
</body>
</html>